body
		{
			background-image:url(bg.png);
			background-repeat:no-repeat;
			background-size:100%;
		}
		#menu
		{
			height:100%;
			width:15%;
			background-image:url(menuBg.jpg);
			top:0;
			left:0;
			position:absolute;
			color:#FFFFFF;
			text-align:center;
		}
		#menu-items
		{
			color:#FFFFFF;
			text-align:center;
			padding:5px;
			width:100%;
			height:auto;
			font-size:20px;
			background-color:
		}
		#menu-items:hover
		{
			background-color:#660033;
		}
		marquee
		{
			background-color:#CCFF00;
			color:#990000;
		}
		a
		{
			text-decoration:none;
			color:#FFFFFF;
		}
		p
		{
			text-align:justify;
			margin:50px;
		}
		h3
		{
			background-color:#CC9900;
			padding:5px;
		}
		#errorLabel
		{
			color:#FF0000;
		}
		.content
		{
			left:210px;
			position:absolute;
			background-color:transparent;
			
			height:100%;
			width:84%;
			color:#FFFFFF;
			text-align:center;
		}
		#searchPanel
		{
			height:auto;
			width:auto;
			left:50px;
			text-align:center;
			border:#FFFFFF thick solid;
			padding:5px;
		}
		span
		{
			color:#CCFF66;
		}